//

@import "partials/common";
@import "partials/variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

div.header-top{
    height: 25px;

    div{
        width: 65%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        align-items: center;

        a{
            margin-left: 5rem;
            color: white;
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
}

div.header-nav{
    height: 115px;

    img{
        height: 80px;
    }

    li{
        display: inline;
        margin-left: 1.7rem;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;

        a{
            color: #212121;
        }

        a.active, 
        a:hover{
            color: #0282f9;
        }
    }
}

div#jumbotron-header{
    height: 400px;
    background-image: url(../images/jumbotron.jpg);

    img{
        height: 100%;
        width: 100%;
    }
}

div.current-series-content{
    height: 800px;
    position: relative;
    padding: 80px 0;
    background-color: #212121;

    h1{
        position: absolute;
        top: -30px;
        left: 300px;
        padding: 15px 30px;
        color: white;
        text-transform: uppercase;
    }

    div#current-series-items{
        flex-wrap: wrap;
    }
}

div.footer-top{
    height: 450px;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
}

div.footer-links > div{
    margin-right: 50px;
}

div.footer-links{
    display: flex;
    width: 50%;
    flex-wrap: wrap;

    nav{
        margin-right: 5rem;

        h4{
            color: white;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        ul{

            li{
                list-style: none;
                font-size: .8rem;
                margin-bottom: .3rem;
        
                a{
                color: gray;
                }
            }
        }
    }

    p{
        font-size: .8rem;
        color: gray;
        padding-top: 2rem;
    }
}

div.footer-bottom{
    height: 120px;
    background-color: #333333;
    text-transform: uppercase;

    a#sign-up{
        border: 2px solid #0282f9;
        color: white;
        padding: 15px;
    }

    div#social{
        display: flex;
        align-items: center;

        a{
        margin-left: 1rem;
        }
    }
}

.item{
    width: 200px;
    height: 250px;

    img{
        width: 180px;
        height: 180px;
        object-fit: cover;
        object-position: top;
        margin-bottom: 1rem;
    }

    h5{
        text-transform: uppercase;
        font-weight: 500;
        color: white;

    }
}

section{
    div.main-info{
        height: 155px;

        div.wrapper > div a{
            display: flex;
            align-items: center;
        }

        div.wrapper > div a img{
            width: 50px;
            margin-right: 1rem;
        }

        div.wrapper > div a h4{
            text-transform: uppercase;
            color: white;
            font-weight: normal;
        }
    }
}

section#comic-book-details{
    width: 60%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    img.img-comic-book{
        position: absolute;
        bottom: 622px;
    }

    div#content-product{
        width: 60%;

        div.label-price{
            height: 50px;
            display: flex;
            align-items: center;
            background-color: #55ba59;

            span{
                color: white;
            }
        }

        p{
            line-height: 1.5rem;
        }
    }
}

section#comic-book-details-others{
    height: 600px;
    background-color: #f6f6f6;

    div#content{
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 50px;

        div#talent, 
        div#specs{
            width: 45%;
            
            li{
                list-style: none;
            }
        }

        hr{
            color: #dddddd;
        }
    }
}

#blue-panel{
    height: 100px;
}