@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header-top {
  height: 25px;
  background-color: #137beb;
}
div.header-top div {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
div.header-top div a {
  margin-left: 5rem;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}

div.header-nav {
  height: 115px;
}
div.header-nav img {
  height: 80px;
}
div.header-nav li {
  display: inline;
  margin-left: 1.7rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
div.header-nav li a {
  color: #212121;
}
div.header-nav li a.active,
div.header-nav li a:hover {
  color: #137beb;
}

div#jumbotron-header {
  height: 400px;
  background-image: url(../images/jumbotron.jpg);
}
div#jumbotron-header img {
  height: 100%;
  width: 100%;
}

div.current-series-content {
  height: 800px;
  position: relative;
  padding: 80px 0;
  background-color: #212121;
}
div.current-series-content h1 {
  position: absolute;
  top: -30px;
  left: 300px;
  padding: 15px 30px;
  background-color: #137beb;
  color: white;
  text-transform: uppercase;
}
div.current-series-content div#current-series-items {
  flex-wrap: wrap;
}
div.current-series-content span {
  padding: 15px 30px;
  background-color: #137beb;
  color: white;
  text-transform: uppercase;
}

h4 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

div.footer-top {
  height: 400px;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
}

div.footer-links > div {
  margin-right: 50px;
}

div.footer-links {
  display: flex;
}
div.footer-links nav {
  margin-right: 5rem;
}
div.footer-links nav li {
  list-style: none;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
div.footer-links nav li a {
  color: gray;
}

div.footer-bottom {
  height: 120px;
  background-color: #333333;
  text-transform: uppercase;
}
div.footer-bottom a#sign-up {
  border: 2px solid #137beb;
  color: white;
  padding: 15px;
}
div.footer-bottom div#social {
  display: flex;
  color: #137beb;
  align-items: center;
}
div.footer-bottom div#social a {
  margin-left: 1rem;
}

.item {
  width: 200px;
  height: 250px;
}
.item img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 1rem;
}
.item h5 {
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

section div.main-info {
  height: 155px;
  background-color: #0880f8;
}
section div.main-info div.wrapper > div a {
  display: flex;
  align-items: center;
}
section div.main-info div.wrapper > div a img {
  width: 50px;
  margin-right: 1rem;
}
section div.main-info div.wrapper > div a h4 {
  text-transform: uppercase;
  color: white;
  font-weight: normal;
}

section#comic-book-details {
  width: 65%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#comic-book-details div#content-product {
  width: 60%;
}
section#comic-book-details div#content-product div.label-price {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: green;
}
section#comic-book-details div#content-product div.label-price p {
  color: white;
}